// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
section {
    padding: 5rem 0;
}

.font-style-display {
    font-family: 'Playfair Display', serif;
    font-size: 9rem;
    color: #EAEAEA;
    position: absolute;
    z-index: -1;
    bottom: 100%;
    transform: translateY(50%);
}

.btn-primary {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.4);
    padding: .5rem 1rem;
}

h1 {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 2.25rem;
    line-height: 2.875rem;
}

// Overline
.overline {
    /* overline */
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}