// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #009EE2; // Thats a sample how you could change a BootStrap variable.
$secondary: #1B4353;


@import url('https://fonts.googleapis.com/css?family=Lato|Lora|Playfair+Display&display=swap');



//== Typography
//
$font-family-sans-serif:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Lora", Georgia, "Times New Roman", Times, serif !default;

$enable-responsive-font-sizes: true;